<!DOCTYPE html>

<html>
	<head>
		<% include head %>
	</head>
	
	<body>
		<header class="container">
			<% include header %>
		</header>
		
		<orodnavrstica class="container">
			<% include orodna_vrstica %>
		</orodnavrstica>
		
		<faze class="container">
			<faza class="faza" style="background-color: #A9A9A9; color:white;">
				<a href="kosarica_page1.html">pregled košarice</a>
			</faza>
			<faza class="faza" style="background-color: #A9A9A9; color:white;">
				<a href="kosarica_page2.html">podatki plačnika</a>
			</faza>
			<faza class="faza" style="background-color: #A9A9A9; color:white;">
				<a href="kosarica_page3.html">način plačila in dostava</a>
			</faza>
			<faza class="faza" style="background-color: #DEB887; border-right: none;font-style: italic;">
				<label>
					pregled naročila
				</label>
			</faza>
		</faze>
		
		<vsebina class="container">
			
			<kosaricacontainer>
				<kosaricacontent>
					<pregled>
						<b>Naročeni izdelki:</b><br>
						<ul>
							<% var vsota = 0.00 %>
							<% kosarica.forEach(function(izdelek) { %>
								<li><%= izdelek.izvajalec %> - <%= izdelek.naslov %>, <%= izdelek.cena %>€</li>
								<% vsota += parseFloat(izdelek.cena); %>
							<% }); %>
						</ul>
						<% if (login.length > 0) { %>
							<% vsota *= 0.95; %>
						<% } %>
						<b>Skupna cena: <%= vsota %>€</b><br>
						<br>
						<b>Naročnik:</b><br>
						<% console.log(racun) %>
						<% console.log(dostava) %>
						<%= racun[0].ime %> <%= racun[0].priimek %><br>
						<%= racun[0].ulica %><br>
						<%= racun[0].postnastevilka %> <%= racun[0].mesto %><br>
						<%= racun[0].telefon %><br>
						<%= racun[0].email %><br>
						<br>
						<b>Plačilo: <%= dostava[0].nacinplacila %></b><br>
						<br>
						<b>Dostava: <%= dostava[0].tipdostave %></b><br>
					</pregled>
				</kosaricacontent>
				<kosaricahelp>
					<help>
						<p>
							Prosimo, potrdite točnost podatkov naročila.
						</p>
						<p>
							Z oddanim naročilom se strinjate s <a href="pogoji_poslovanja.html">pogoji poslovanja</a>.
						</p>
					</help>
					<nextfaza>
						<a href="/oddajNarocilo" class="nextfazasubmit">oddaj naročilo</a>
					</nextfaza>
				</kosaricahelp>
			</kosaricacontainer>

		</vsebina>
		<footer class="container">
			by Gregor Bajt
		</footer>
	</body>
</html>