<!DOCTYPE html>

<html>
	<head>
		<% include head %>
	</head>
	
	<body>
		<header class="container">
			<% include header %>
		</header>
		
		<orodnavrstica class="container">
			<% include orodna_vrstica %>
		</orodnavrstica>
		
		<faze class="container">
			<faza class="faza" style="background-color: #DEB887;font-style: italic;">
				<label>
					pregled košarice
				</label>
			</faza>
			<faza class="faza">
				<label>
					podatki plačnika
				</label>
			</faza>
			<faza class="faza">
				<label>
					način plačila in dostava
				</label>
			</faza>
			<faza class="faza" style="border-right: 0; border-bottom: 0;">
				<label>
					pregled naročila
				</label>
			</faza>
		</faze>
		
		<vsebina class="container">
			
			<kosaricacontainer>
				<kosaricacontent>
					<% var cena = 0.00; %>
					<izdelki>
						<% kosarica.forEach(function(izdelek) { %>
							<% cena += parseFloat(izdelek.cena); %>
							<izdelekkosarica>
								<% var identifikator = izdelek.naslov.toLowerCase().replace(/ /g, '') %>
								<ime><%= izdelek.izvajalec %></ime>
								<album><%= izdelek.naslov %></album>
								<img id="<%= identifikator %>" src="public/images/<%= identifikator %>.jpg" alt="<%= izdelek.naslov %>">
								<cena><%= izdelek.cena %>€</cena>
								<odstrani id="id<%= identifikator %>">odstrani</odstrani>
								<script>
									$(document).ready(function() {
										$("#id<%= identifikator %>").click(function() {
											console.log("clicked on <%= identifikator %>");
											$.get('/odstraniIzKosarice', {naslov: "<%= izdelek.naslov %>"}, function(data) {
												document.write(data);
												location.reload();
											});
										});
									});
								</script>
							</izdelekkosarica>
						<% }); %>
					</izdelki>
					<cenakosarica id="cenakosarica">
						<script>
							$(document).ready(function() {
								var vsota = <%= cena %>;
								var log = "<%= login %>";
								if (log.length > 0) {
									vsota *= 0.95;
								}
								if (vsota == 0) {
									document.getElementById("cenakosarica").innerHTML = "Ni izdelkov!";
								}
								else {
									document.getElementById("cenakosarica").innerHTML = vsota.toFixed(2) + "€";
								}
							});
						</script>
					</cenakosarica>
				</kosaricacontent>
				<kosaricahelp>
					<help>
						<p>
							Če ste z izborom izdelkov zadovoljni, kliknite gumb 'na naslednjo fazo', da nadaljujete z nakupom.
						</p>
						<p>
							Če želite odstraniti izdelek iz izbora, kliknite na gumb 'odstrani' na tistem izdelku, ki ga želite odstraniti.
						</p>
					</help>
					<nextfaza>
						<% var urlThis = "kosarica_page1.html"; %>
						<% var urlNext = "kosarica_page2.html"; %>
						<% var url; %>
						<% if (cena == 0) { %>
							<% url = urlThis; %>
						<% } %>
						<% if (cena > 0) { %>
							<% url = urlNext; %>
						<% } %>
						<a href="<%= url %>" class="nextfazasubmit">na naslednjo fazo</a>
					</nextfaza>
				</kosaricahelp>
			</kosaricacontainer>

		</vsebina>
		<footer class="container">
			by Gregor Bajt
		</footer>
	</body>
</html>