<!DOCTYPE html>

<html>
	<head>
		<% include head %>
	</head>
	
	<body>
		
		<header class="container">
			<% include header %>
		</header>
		
		<orodnavrstica class="container">
			<% include orodna_vrstica %>
		</orodnavrstica>
		
		<vsebina class="container">
			
			<category>
				<% include category %>
			</category>
			
			<main>
				<% seznamIzdelkov.forEach(function(izdelek) { %>
					<izdelek>
						<% var id = izdelek.dataValues.izvajalciId; %>
						<% var imeIzvajalca; %>
						<% var identifikator = izdelek.dataValues.naslov.toLowerCase().replace(/ /g, '') %>
						<% seznamIzvajalcev.forEach(function(izvajalec) { %>
							<% if (izvajalec.id == id) { %>
								<% imeIzvajalca = izvajalec.izvajalec; %>
							<% } %>
						<% }); %>
						<ime><%= imeIzvajalca %></ime>
						<album><%= izdelek.dataValues.naslov %></album>
						<img id="<%= identifikator %>" src="public/images/<%= identifikator %>.jpg" alt="<%= izdelek.dataValues.naslov %>">
						<cena><%= izdelek.dataValues.cena %>€</cena>
					</izdelek>
					<script>
						$(document).ready(function() {
							$("#<%= identifikator %>").click(function() {
								$.get('/izdelek_page.html', {izvajalec: "<%= imeIzvajalca %>", naslov: "<%= izdelek.dataValues.naslov %>", skladbe: "<%= izdelek.dataValues.skladbe %>", cena: "<%= izdelek.dataValues.cena %>"}, function(data) {
									document.write(data);
								});
							});
						});
					</script>
				<% }); %>
			</main>
			
		</vsebina>
		
		<footer class="container">
			by Gregor Bajt
		</footer>
		
	</body>
</html>